.related-image{
	position: relative;
	margin: 5px 10px 5px 0;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75) !important;
}

.related-image:hover{
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75) !important;
}

.related-image .tooltiptext {
	transition: 0.5s;
    opacity: 0;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: calc(100% + 5px);
    left: 50%;
    margin-left: -75px;
}

.related-image:hover .tooltiptext {
	transition: 0.5s;
    opacity: 1;
}